<tr>
    <td>    
        <%= sample.id %>
    </td>
    <td>    
        <%= sample.code %>
    </td>
    <td>        
        <%= link_to sample.request.customer.display, sample.request.customer %>  
    </td>
    <td>         
        <%= link_to sample.request.code, sample.request %>  
    </td>
    </td>
    <td>    
        <%= sample.detail %>
    </td>
    <td>    
        <%= sample.location %>
    </td>
    <td>    
        <%= sample.plant %>
    </td>
    <td colspan="2">        
        <%= link_to 'Show', sample, class: "btn btn-success btn-sm" %>
        <%= link_to 'Edit', edit_sample_path(sample), class: "btn btn-warning btn-sm" %>
        <%= button_to 'Destroy', sample, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}, style: 'display:inline-block;'}, class: "btn btn-danger btn-sm" %>
    </td>
</tr>