<p>
  <strong>Request:</strong>
  <%= @sample.request_id %>
</p>
<p>
  <strong>Code:</strong>
  <%= @sample.code %>
</p>
<p>
  <strong>Detail:</strong>
  <%= @sample.detail %>
</p>
<p>
  <strong>Location:</strong>
  <%= @sample.location %>
</p>
<p>
  <strong>Plant:</strong>
  <%= @sample.plant %>
</p>

<br>

<%= link_to 'Edit', edit_sample_path(@sample) , class: "btn btn-warning btn-sm" %>
<%= link_to 'Back', samples_path , class: "btn btn-light btn-sm" %>
<%= button_to "Destroy", @post, method: :delete , class: "btn btn-danger btn-sm" %>