<tr>
    <td>    
    
        <%= om.sample_id %>
    
    </td>
    <td>    
    
        <%= om.weight %>
    
    </td>
    <td>    
    
        <%= om.K2CrO7_V1 %>
    
    </td>
    <td>    
    
        <%= om.K2CrO7_N1 %>
    
    </td>
    <td>    
    
        <%= om.FeSO4_1 %>
    
    </td>
    <td>    
    
        <%= om.FeSO4_2 %>
    
    </td>
    <td>    
    
        <%= om.FeSO4_3 %>
    
    </td>
    <td>    
    
        <%= om.FeSO4_N2 %>
    
    </td>
    <td>    
    
        <%= om.OC %>
    
    </td>
    <td>    
    
        <%= om.OM %>
    
    </td>
    <td>
        <td colspan="2">
            <%= link_to 'Show', om, class: "btn btn-success btn-sm" %>
            <%= link_to 'Edit', edit_om_path(om), class: "btn btn-warning btn-sm" %>
            <%= button_to 'Destroy', om, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}, style: 'display:inline-block;'}, class: "btn btn-danger btn-sm" %>
        </div>
    </td>
</tr>