<tr>
    <td>    
        <%= ph.id %>
    </td>
    <td>    
        <%= ph.sample.code %>
    </td>
    <td>    
        <%= ph.weight %>
    </td>
    <td>    
        <%= ph.or %>
    </td>
    <td>    
        <%= ph.ph1 %>
    </td>
    <td>    
        <%= ph.ph2 %>
    </td>
    <td>    
        <%= ph.ph3 %>
    </td>
    <td>    
        <%= ph.avg %>
    </td>
    <td>
        <td colspan="2">
            <%= link_to 'Show', ph, class: "btn btn-success btn-sm" %>
            <%= link_to 'Edit', edit_ph_path(ph), class: "btn btn-warning btn-sm" %>
            <%= button_to 'Destroy', ph, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-danger btn-sm", form: {style: 'display:inline-block;'} %>
        </div>
    </td>
</tr>