<tr>
    <td>        
        <%= customer.id %>
    </td>
    <td>        
        <%= customer.code %>
    </td>
    <td>        
        <%= customer.name %>
    </td>
    <td>    
        <%= customer.phone %>
    </td>
    <td>    
        <%= customer.email %>
    </td>
    <td>    
        <%= customer.address %>
    </td>
    <td>        
        <%= customer.remark %>    
    </td>
    <td>        
        <%= customer.requests.size %>    
    </td>
    <td colspan="2">        
        <%= link_to 'Show', customer, class: "btn btn-sm btn-success" %>
        <%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-sm btn-warning" %>
        <%= button_to 'Destroy', customer, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}, style: 'display:inline-block;'}, class: "btn btn-sm btn-danger"%>
    </td>
</tr>