<h1>Requests</h1>
<%= form_with model: @customer, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <template data-nested-form-target="template">
    <ul class="list-group list-group-flush">
    <%= f.fields_for :requests, Request.new, child_index: 'NEW_RECORD' do |request_fields| %>    
    <li class="list-group-item list-group-item-action">
      <%= render "request_form", f: request_fields %>
    </li>
    <% end %>
     </ul>
  </template>
  <ul class="list-group list-group-flush">
  <%= f.fields_for :requests do |request_fields| %>
    <li class="list-group-item list-group-item-action list-group-item-light">
      <%= render "request_form", f: request_fields %>
    </li>
  <% end %>
  </ul>
  <br>
  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add" class="btn btn-primary">Add request</button>
  <%= f.submit('Save requests', class: "btn btn-secondary") %>
<% end %>