<div class="nested-form-wrapper row align-items-center" data-new-record="<%= f.object.new_record? %>">          
      <div class="col-sm-1">
        <div class="input-group input-group-sm">
          <% if !f.object.new_record? %>
            <div class="input-group-text">#</div>             
            <%= f.text_field :id , html_options = {class: "form-control", disabled: true, readonly: true} %>
          <% else %>
            <div class="input-group-text">#</div>    
            <div class="input-group-text">New</div>            
          <% end %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <div class="input-group-text">Receive</div>          
          <%= f.date_field :receive , class: "form-control"%>
        </div>
      </div>  
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <div class="input-group-text">Channel</div>          
          <%= f.collection_select(:channel, @channels, :to_s, :to_s, {prompt: true}, {:class=>'form-select'}) %>
        </div>
      </div>        
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <div class="input-group-text">Remark</div>
          <%= f.text_field :remark , class: "form-control", placeholder: "Remark"%>
        </div>
      </div>          
      <div class="col-sm-3">
        <div class="input-group input-group-sm">
          <div class="form-check form-check-inline">
            <%= f.check_box :ph , class: "form-check-input"%>
            <label class="form-check-label">pH</label>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :lime , class: "form-check-input"%>
            <label class="form-check-label">Lime</label>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :om , class: "form-check-input"%>
            <label class="form-check-label">OM</label>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :p , class: "form-check-input"%>
            <label class="form-check-label">P</label>
          </div>
          <div class="form-check form-check-inline">
            <%= f.check_box :k , class: "form-check-input"%>
            <label class="form-check-label">K</label>
          </div>
        </div>
      </div>  
      <div class="col-sm-2">        
        <%= f.hidden_field :_destroy %>
        <button type="button" data-action="nested-form#remove" class="btn btn-sm btn-danger">Remove</button>        
        <% if !f.object.new_record? %>
          <%= link_to 'Show', f.object, class: "btn btn-sm btn-success" %>
          <%= link_to 'Edit', edit_request_path(f.object) , class: "btn btn-sm btn-warning" %>
        <% end %> 
      </div>
</div>