<table border="1">
    <tr>
        <th colspan=2>รหัสตัวอย่าง</th>
        <th colspan=2><p><sub>ความเป็นกรด-ด่าง</sub>1/</p></th>
        <th><p><sub>ความต้องการปูน</sub>2/</p></th>
        <th colspan=2><p><sub>อินทรียวัตถุ</sub>3/</p></th>
        <th colspan=2><p><sub>ฟอสฟอรัสที่เป็นประโยชน์</sub>4/</p></th>
        <th colspan=2><p><sub>โพแทสเซียมที่แลกเปลี่ยนได้</sub>5/</p></th>
    </tr>
    <tr>
        <th>Lab code</th>
        <th>เดิม</th>
        <th>ค่า</th>
        <th>ระดับ</th>
        <th>(กก. CaCO<sub>3</sub>/ไร่)</th>
        <th>%</th>
        <th>ระดับ</th>
        <th>มก./กก.</th>
        <th>ระดับ</th>
        <th>มก./กก.</th>
        <th>ระดับ</th>
    </tr>
    <% @request.samples.each do |sample| %>
    <tr>
        <td><%= sample.code %></td>
        <td></td>
        <%if sample.ph.nil? %>
            <td style="text-align:center">n/a</td>
            <td>n/a</td>
        <% else %>
            <td style="text-align:center"><%= sample.ph.avg %></td>
            <td><%= sample.ph.level %></td>
        <%end%>
        <%if sample.lime.nil? %>
            <td style="text-align:center">n/a</td>
        <% else %>
            <td style="text-align:center"><%= sample.lime.avg %></td>
        <%end%>
        <%if sample.om.nil? %>
            <td style="text-align:center">n/a</td>
            <td>n/a</td>
        <% else %>
            <td style="text-align:center"><%= sample.om.OM %></td>
            <td><%= sample.om.level %></td>
        <%end%>
    </tr>
    <% end %>
</table>
<br>
<article><small>1/  ดิน : น้ำ (1:1),  2/ โดยวิธี Woodruff,  3/ โดยวิธี Walkley and Black (ทัศนีย์และจงรักษ์, 2542).4/โดยวิธี Bray II (ทัศนีย์และจงรักษ์, 2542), 5/ สกัดด้วย1 N NH4OAc และวิเคราะห์หาปริมาณโดยใช้ ICP-OES (Reeuwijk, 2002)</small></article>