<tr>
    <td>        
        <%= request.id %>
    </td>
    <td>    
        <%= request.code %>
    </td>
    <td>    
        <%= link_to request.customer.display, request.customer %>
    </td>
    <td>    
        <%= request.receive %>
    </td>    
    <td>    
        <%= request.samples.length %>
    </td>
    <td>    
        <% if request.ph %>
            <i class="bi bi-check-circle text-success"></i>
        <% else %>
            <i class="bi bi-x-circle text-danger"></i>
        <% end %>
    </td>
    <td>        
        <% if request.lime %>
            <i class="bi bi-check-circle text-success"></i>
        <% else %>
            <i class="bi bi-x-circle text-danger"></i>
        <% end %>    
    </td>
    <td>    
        <% if request.om %>
            <i class="bi bi-check-circle text-success"></i>
        <% else %>
            <i class="bi bi-x-circle text-danger"></i>
        <% end %>
    </td>
    <td>    
        <% if request.p %>
            <i class="bi bi-check-circle text-success"></i>
        <% else %>
            <i class="bi bi-x-circle text-danger"></i>
        <% end %>
    </td>
    <td>        
        <% if request.k %>
            <i class="bi bi-check-circle text-success"></i>
        <% else %>
            <i class="bi bi-x-circle text-danger"></i>
        <% end %>
    </td>       
    <td>        
        <%= request.receipt %>    
    </td>
    <td>    
        <%= request.analyzed %>
    </td> 
    <td colspan="2">               
        <%= link_to 'Report', report_request_path(request), class: "btn btn-info btn-sm", target: :_blank %>
        <%= link_to 'Show', request, class: "btn btn-success btn-sm" %>
        <%= link_to 'Edit', edit_request_path(request), class: "btn btn-warning btn-sm" %>
        <%= button_to 'Destroy', request, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}, style: 'display:inline-block;'}, class: "btn btn-danger btn-sm" %>        
    </td>
</tr>