<tr>
    <td>    
    
        <%= request.customer.name %>
    
    </td>
    <td>    
    
        <%= request.receive %>
    
    </td>
    <td>    
        <% if request.ph %>
            <i class="bi bi-check-circle"></i>
        <% else %>
            <i class="bi bi-x-circle"></i>
        <% end %>
    </td>
    <td>        
        <% if request.lime %>
            <i class="bi bi-check-circle"></i>
        <% else %>
            <i class="bi bi-x-circle"></i>
        <% end %>    
    </td>
    <td>    
        <% if request.om %>
            <i class="bi bi-check-circle"></i>
        <% else %>
            <i class="bi bi-x-circle"></i>
        <% end %>
    </td>
    <td>    
        <% if request.p %>
            <i class="bi bi-check-circle"></i>
        <% else %>
            <i class="bi bi-x-circle"></i>
        <% end %>
    </td>
    <td>        
        <% if request.k %>
            <i class="bi bi-check-circle"></i>
        <% else %>
            <i class="bi bi-x-circle"></i>
        <% end %>
    </td>
    <td>    
    
        <%= request.channel %>
    
    </td>
    <td>    
    
        <%= request.remark %>
    
    </td>
    <td>    
    
        <%= request.samples.length %>
    
    </td>
    <td>
        <div class="row align-items-center">
            <div class="col-2"><%= link_to 'Show', request, class: "btn btn-success btn-sm" %></div>
            <div class="col-2"><%= link_to 'Edit', edit_request_path(request), class: "btn btn-warning btn-sm" %></div>
            <div class="col-2"><%= button_to 'Destroy', request, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-danger btn-sm" %></div>
        </div>
    </td>
</tr>