<%= stylesheet_link_tag "report", "data-turbo-track": "reload" %>
<body class="A4">
  <section class="sheet padding-10mm">
    <%= render "report_header" %>
    <%= render "report_customer" %>
    <br>
    <%= render "report_table" %>    
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render "report_signature" %>
  </section>
  <section class="sheet padding-10mm">
    <%= render "report_header" %>
    <%= render "report_suggestion" %>
  </section>



